.btn-container {
    display: flex;
    gap: 20px;
    width: 80%;
}

.button {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    padding:.5em 2em;
    text-decoration: none;
    //clip-path: polygon(10% 0%, 100% 0%, 91% 100%, 0% 100%);
}

.btn-1 {
    background: $green-btn;
    border: 2px solid transparent;
 

    &:hover {
        background: $white;
        color: $green;
    }
}

.btn-2 {
    border: 2px solid $green-btn;
    background: transparent;

    &:hover {
        background: $white;
        color: $green;
    }
}




